body {
  background-color: #333;
  color: #ddddda;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
  
}

.exp-header {
 text-align: center;
 text-transform: uppercase; 
 border-top: 1px solid #eee;
 border-bottom: 1px solid #eee;
 background-color: rgba (0,0,0,0)
}
 
.skill-header {
 text-align: center;
 text-transform: uppercase; 
 border-top: 1px solid #eee;
 border-bottom: 1px solid #eee;
 background-color: rgba (0,0,0,0)
}
