body {
  background-color: lightblue;
  color: #2F4F3F;
  font-family: "Times New Roman", Times, serif;
  margin: 10% 20%
  
}

.exp-header {
 text-align: center;
 text-transform: uppercase; 
 border-top: 1px solid #eee;
 border-bottom: 1px solid #eee;
 background-color: rgba (0,0,0,0)
}
 
.skill-header {
 text-align: center;
 text-transform: uppercase; 
 border-top: 1px solid #eee;
 border-bottom: 1px solid #eee;
 background-color: rgba (0,0,0,0.5)
}
